
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
                     
body{
                font-family: "Poppins", sans-serif;
                margin:0px;
}
.orenge-highlight{
                color: chocolate;
}
h1{
       font-size: 50px;
}

h2{
      font-size: 40px;
}

p{
       color: dimgray;
}

.half-width{
                width: 40%;
                float: left;
                margin-left: 5%;
                padding-left: 2%;
}

.half-width img{
                width: 100%;
}

.Top-banner{
       background-image: url("images/top-banner.png");
       background-repeat: no-repeat;
}

section{
       height: 500px;
       padding-bottom: 250px;
}

.link-button{
         text-decoration: none;
         font-weight: 700;
         background-image:linear-gradient(45deg,lightsalmon,tomato);
         color: white;
         border: 5px;
         padding: 10px 20px;
         border-radius: 5px;
         
}

.dream{
       background-image: url("images/dream-bg.png");
       background-position:right;
       background-repeat: no-repeat;
}

.single-experience{
       box-shadow: 10px 10px 40px gray;
       border-radius: 5px;
       height: 80%;
}

.Experence{
       background-image: url("images/exp-bg.png");
       background-repeat: no-repeat;
       background-position:left;
}

#Course-Section{
        border-left: 10px solid;
        border-image:linear-gradient(180deg,lightsalmon,tomato);
        border-image-slice: 1;

}

#Social-Section{
       border-left: 10px solid;
        border-image:linear-gradient(180deg,blue,red);
        border-image-slice: 1;
}

footer p{
       text-align: center;
       font-size: 15px;
}